.main {
  width: 100vw;
  height: 75vh;
  display: grid;
  grid-template-areas: 
      ". image list"
      ". add list"
      ". error list";
  grid-template-columns: 1fr 4fr 8fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.main-image {
  grid-area: image;
}

.image {
  max-width: 800px;
  max-height: 600px;
}

.todo-input {
  grid-area: add;
}

.todo-list {
  grid-area: list;
  display: flex;
  flex-direction: column;
  font-size: large;
}

.todo {
  padding: 5px;
  margin: 0.5rem;
  max-height: 2rem;
  display: grid;
  grid-template-areas: "text btn";
  grid-template-columns: 3fr 1fr;
  overflow-wrap: anywhere;
}

.todo-complete {
  text-decoration: line-through;
}

.todo-text {
  grid-area: text;
}

.todo-button {
  grid-area: btn;
  margin-left: 10px;
  color: white;
  background-color: cornflowerblue;
  border-radius: 24px;
  font-size: large;
  max-width: 200px;
  max-height: 2rem;
  right: 0px;
}

.new-todo-error {
  grid-area: error;
  font-size: large;
  color: red;
}